node_modules/
config.js
```

در اینجا، `/` در انتهای `node_modules/` برای نادیده‌گرفتن تمام پوشه‌ها و زیرپوشه‌های `node_modules` استفاده می‌شود. همچنین، `config.js` به صورت مستقیم برای نادیده‌گرفتن فایل با نام `config.js` در نظر گرفته شده است.